.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.active {
  background-color: rgb(0, 255, 0);
}
.disabled {
  background-color: grey;
}
